PORT=4000
NODE_ENV=development
JWT_SECRET=escribe_aqui_una_clave_secreta_segura
JWT_EXPIRE=8h

# Cadena de conexión para Microsoft SQL Server local
# Reemplaza <TuPassword> con tu clave sa de SQL Server local
DATABASE_URL="sqlserver://localhost:1433;database=POS_FMB_DEV;user=sa;password=TuPassword;trustServerCertificate=true"

# API Key de pruebas de Facturapi (Opcional, si se deja en blanco se activa el modo simulador)
FACTURAPI_API_KEY=""
